.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.34rem;
  margin: 0;
  padding-bottom: 54px;
}

@media screen and (max-width: 425px) {
  .popup__title {
    font-size: 18px;
    padding-left: 20px;
    padding-top: 26px;
  }
}